# RPCortex Package Config
pkg.name: HelloWorld
pkg.dev: dash1101
pkg.ver: 1.0.0
pkg.dir: /Packages/HelloWorld
pkg.desc: Sample demo package for RPCortex
pkg.cmd: hello:/Packages/HelloWorld/main.py:hello
